doctype html
html
  head
    title= title
    script(src="/js/style.js")
  body
    #app
    script.
      window._config = {
        contractAddress: '!{contractAddress}',
        trainingCost: !{trainingCost},
        defaultSearchGas: !{defaultSearchGas},
        defaultFightGas: !{defaultFightGas}
      }
    script(src="/js/index.js")
